@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <p>TEST</p>
    <p>@ViewBag.Name</p>
    <p>@ViewBag.Time</p>
    <p>@ViewData["qrup"]</p>
}
